<footer class="footer">
<small>
  <a href="http://snowy.in/">Snowy</a>
  by sllt
</small>
<nav>
<ul>
  <li><%= link_to "关于",   about_path %></li>
  <li><%= link_to "联系", contact_path %></li>
  <li><a href="http://blog.snowy.in/">最新</a></li>
</ul>
</nav>
</footer>
